* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root{
  height: 100%;
  width: 100%;
}

main{
  height: 100%;
  width: 100%;
  padding: 2.5rem;
  display: flex;
  gap: 1rem;
}

.left, .right{
  height: 100%;
  flex:1;
  border-radius: 0.7rem;
}

.left{
  background-color:black;
  position: relative;
  
}

.left .code,
.code pre,
.code pre code{
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius:0.7rem ;
  background-color: #0c0c0c;
}

.right{
  padding:1.5rem;
  background-color:rgb(59, 58, 58);
  overflow-y: auto;
  word-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
 
}

.left .review{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: rgb(161, 161, 255);
  color: #000000;
  padding: 0.5rem 2rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 0.7rem;
  user-select: none;
}